* {
     box-sizing: border-box;
 }
/* default setting sets all elements to 100% height and no margins space*/
 html, body {
   height: 100%;
   margin: 0;
 }
 /*sets container/content div to min 100% height to allow footer to stick to bototm*/
 .content {
   min-height: 100%;
 }
/* adds margins to all paragraph text */
 p {
     margin: 15px;
 }
/* Aligns all text with the paragraph class centrally and adds spacing below them */
 .paragraph {
   text-align: center;
   padding-bottom: 15px;
 }

/* Navbar settings */

/* Navbar favicon (hamburger logo) positioned relatively within the nav div and bg color*/
/* In moobile format i'm center aligning all the contents within the navbar and vertically
 aligned the content using flex direction column */
 .navbar {
   display: flex;
   flex-direction: column;
      font-family: 'Roboto Mono', monospace;
      overflow: hidden;
      position: relative;
      background-color: #003566;
      align-items: center;
      text-align: center;
  }

/*Nav links color to white and spacing around links and remove text underline */
  a.nav-link {
      color: #fff;
      padding: 20px;
      display:block;
      text-decoration: none;
  }

/* setting the hamburger size color and margins and on hover */
.fa {
  font-size: 40px!important;
  margin: 10px !important;
  color: #adb5bd !important;
}

fa:hover {
  font-size: 40px!important;
  margin: 10px !important;
  color: #adb5bd !important;
}

/* On hover Grey border at bottom for nav menu links */
  a.nav-link:hover {
      border-bottom: 1.5px solid #adb5bd;
      color: white;
      transition: all 2s ease-out;
  }

  /* Style the hamburger menu */
  .navbar a.icon {
    display: block;
    right: 0;
    top: 0;
  }

#myLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Navbar settings end */


/* Header Settings */

.header-image {
     border-radius: 50%;
     margin-bottom: 20px;
     height: auto;
     width: 180px;
     border: 3px solid #6c757d;
 }

 .header-image:hover {
     opacity: 0.8;
 }

.project-image  {
  width: 90%;
}
header {
  text-align: center;
}

.header-title {
  color: #003566;

}

.header-paragraph  {
  font-family: 'Roboto Mono', monospace;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* Header Settings end */



/* Accordions */

.title  {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;

}




/* Skills */
.skills-i {
    font-size: 3em;
}

.skills i {
    padding: 0.3em;
    margin: 0.5em;
    transition: all 0.3s ease-out;
    color: #003566;
}

.skills i:hover {
    color: #adb5bd;
}

.skills ul {
    /*display: grid;*/
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    margin: 15px;
}

.skills li:hover {
    opacity: 0.8;
}

.skills-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.skills div {
    text-align: center;
}
/* Skills end */

/* Projects */
.project-image  {
  width: 90%;
  padding: 0 0 20px 0;
}

.portfolio-heading, .portfolio-text {

  font-family: 'Roboto Mono', monospace;
}
.portfolio-heading {
padding: 1em 1em 1em 1em;
}



.portfolio-text {
padding: 0em 1em 1em 1em;
}


#portfolio {
  text-align: center;
  padding: 40px;
}


.button {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #adb5bd;
    border: 2px solid ;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width:100%;
}

.button-group {
    display: block;
    justify-content: center;
  }

@media (max-width: 400px)  {
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  p.website-text {
  padding: 15px 0;
  font-size: 16px;
  }
    .portfolio-text {
    padding: 0;
    font-size: 16px;
    }
    p {
      margin: 0;
    }

.accordion-body{
  padding: 0 !important;
}

  .button {
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #adb5bd;
    border: 1px solid #003566;

    margin: 5px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    width: 70%;
    justify-items: center;
    flex-direction: column;

}
}
/* Projects end */











/* Websites */
.website-text {

  font-family: 'Roboto Mono', monospace;
  padding-top: 40px;

}


/* Websites end */

/* Contact*/

svg {
      fill: #003566;
      margin-bottom: 30px;
      transition: all .5s ease-out;
  }

  svg:hover {
      transform: scale(1.5);
  }

  .contact-title  {
    text-align: center;
    padding: 15px;
  }

  li {
    color: black
  }
/* Contact end */




.container {
  max-width: 95vw;
  padding: 10px;
  margin: 0 auto;

}




.container .col {
  margin: 10px;
  min-height: 300px;

  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

.col {
   margin: 10px;
   min-height: 250px;
   text-align: center;
   letter-spacing: 1px;
   padding-top: 5px;
 }









.website-image  {
  width: 80%;
  max-width: 80%;
}

footer {

    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.footer-info {
  padding-bottom: 40px;
  text-align: center;
}

.footer  {
  margin-top: 25px;
}

/*


@media (min-width: 768px) {


/* 1. we add display: flex; to our container div so that all of the boxes go onto one row.
   2. add flex-wrap: wrap; so that if a width or flex-basis is set on the boxes
   they will wrap to a new row once their combined width/flex-basis is 100%. */

   .p-container {
    display: grid;
    grid-template-columns: 1fr ;

    column-gap: 10px;
    row-gap: 15px;
}

.website-image  {
  width: 95%;
  max-width: 100%;
}

  /* ensure the boxes take up exactly 50% in our 2 column layout without breaking to a new line due to the 20px
  total left and right margin we added in the mobile-first code. */

@media (max-width: 768px){
  a.nav-link {
      color: #fff;
      padding: 20px 10px;
  }
}

@media (min-width: 768px) {

    .fa {
      display: none !important;
    }

    #myLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link:nth-child(odd)  {
  background-color: #003566;
}

}
  @media (min-width: 1200px) {

  .container {
    min-width: 80% !important;
  }

  .p-container {
   display: grid;
   grid-template-columns: 1fr 1fr;

   column-gap: 10px;
   row-gap: 15px;
  }

  .project-image  {
    max-width: 500px;
    max-height: 250px;
    height: 250px;
    width: 500px;

  }

  .website-image  {
    width: 75%;
    max-width: 80%;
  }

  .item-a{
    grid-area: photo;
    justify-content: flex-start;
  }

  .header-image  {
    width: 300px;
  }

  .box {
    padding: 50px 0 50px 0;
    justify-content: center;
    width: 100%;

  }

  .item-b {
    grid-area: main;
    width: 800px;
  }
  .container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    align-items: center;
    justify-items: center;

    grid-template-areas:
      " main main photo . "
      " main main photo . ";

  }
  }


@media (min-width: 1500px) {

.container {
  min-width: 80% !important;
}

.p-container {
 display: grid;
 grid-template-columns: 1fr 1fr;

 column-gap: 10px;
 row-gap: 15px;
}

.website-image  {
  width: 65%;
  max-width: 80%;
}


.item-a{
  grid-area: photo;
  justify-content: flex-start;
}

.header-image  {
  width: 300px;
}

.box {
  padding: 50px 0 50px 0;
  justify-content: center;
  width: 100%;

}

.item-b {
  grid-area: main;
  width: 800px;
}
.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  align-items: center;
  justify-items: center;

  grid-template-areas:
    " main main photo . "
    " main main photo . ";

}
}

@media (min-width: 1800px)  {
  .container {
    min-width: 90% !important;
  }

  .p-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   column-gap: 10px;
   row-gap: 15px;
  }

.website-image  {
  width: 75%;
  max-width: 80%;
}
.item-a{
  grid-area: photo;
  justify-content: flex-start;
}

.header-image  {
  width: 300px;
}

.box {
  padding: 50px 0 50px 0;
  justify-content: center;
  width: 100%;

}

.item-b {
  grid-area: main;
  width: 800px;
}
.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  align-items: center;
  justify-items: center;

  grid-template-areas:
    " main main photo . "
    " main main photo . ";

}



}

}
